<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.title</title>
</head>
<body>
    <header>
        <h1>@Model.title</h1>
    </header>
    <section>
        <img src="/Content/imgs/katana.jpg"/>
        <h2>This is an image loaded from MAIN APPLICATION assembly</h2>
        
    </section>
    <p>
        You can add how many pages and resources you want.

        
    </p>
    <p>
        You can also overwrite this page by creating a file with same name of this inside web site folder called "Views".
    </p>
    <p>
        And finally, <b>you can change path</b> by altering app settings
    </p>
</body>
</html>